my_awesome_game/project/proj.android/obj/
my_awesome_game/project/proj.win32/Debug_v100/
*.sdf
*.opensdf
my_awesome_game/project/proj.android/libs/armeabi-v7a/libSDL2.so
my_awesome_game/project/proj.android/libs/armeabi-v7a/libmain.so
*.ipch
my_awesome_game/project/proj.cmake/build/
my_awesome_game/project/proj.win32/Debug_v140/
