[submodule "oxygine-framework"]
	path = libs/oxygine-framework
	url = https://github.com/oxygine/oxygine-framework.git
[submodule "SDL"]
	path = libs/SDL
	url = https://github.com/oxygine/SDL2.git
[submodule "oxygine-sound"]
	path = libs/oxygine-sound
	url = https://github.com/oxygine/oxygine-sound.git
[submodule "oxygine-flow"]
	path = libs/oxygine-flow
	url = https://github.com/oxygine/oxygine-flow.git
[submodule "oxygine-freetype"]
	path = libs/oxygine-freetype
	url = https://github.com/oxygine/oxygine-freetype.git
