[submodule "oxygine-framework"]
	path = oxygine-framework
	url = git@github.com:oxygine/oxygine-framework.git
[submodule "SDL"]
	path = SDL
	url = git@github.com:oxygine/SDL2.git
[submodule "oxygine-sound"]
	path = oxygine-sound
	url = git@github.com:oxygine/oxygine-sound.git
[submodule "oxygine-flow"]
	path = oxygine-flow
	url = git@github.com:oxygine/oxygine-flow.git
