my_awesome_game/project/proj.android/obj/
my_awesome_game/project/proj.win32/Debug_v100/
*.sdf
*.opensdf
my_awesome_game/project/proj.android/libs/armeabi-v7a/libSDL2.so
my_awesome_game/project/proj.android/libs/armeabi-v7a/libmain.so
*.ipch
my_awesome_game/project/proj.cmake/build/
my_awesome_game/project/proj.win32/Debug_v140/
my_awesome_game/project/proj.ios/MyAwesomeGame_ios.xcodeproj/xcuserdata
my_awesome_game/project/proj.ios/MyAwesomeGame_ios.xcodeproj/project.xcworkspace/xcuserdata
my_awesome_game/project/proj.emscripten/build/
my_awesome_game/project/proj.emscripten/build_release/
my_awesome_game/project/proj.emscripten/data.js
my_awesome_game/project/proj.cmake/build_emsc/
my_awesome_game/project/proj.cmake/build_emsc_release/
my_awesome_game/project/proj.android/.gradle/
my_awesome_game/project/proj.android/build/
*.VC.db
*.suo
my_awesome_game/project/proj.android/bin/
my_awesome_game/project/proj.android/gen/
my_awesome_game/project/proj.win32/Debug_v140_xp/
my_awesome_game/project/proj.cmake/data.js
my_awesome_game/project/proj.win32/Release_v141/
my_awesome_game/project/proj.win32/Debug_v141/
my_awesome_game/project/proj.win32/.vs/
my_awesome_game/project/Debug_v141/
